.cgumobile{
    display: none;
}

.textcgu{
    /* position: sticky; */
    width: 394px;
    height: 88px;
    margin-left: 528px;
    margin-top: 92px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

.contentcgu{

    width: 1001px;
    height: 1350px;
    margin-left: 224px;
    margin-top: 85px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: justify;
    color: #000000;
}

.titre{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    

    color: #2B63AF;
}

.societe{
    font-family: Raleway;
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  

    color: #FF0404;
}

#footercgu{
    top: 0;
}

@media screen and (max-width: 360px){
    .cguweb{
        display: none;
    }

    .cgumobile{
        display: block;
        height: 15300px;
    }

    .textcgumobile{
        /* position: sticky; */
        width: 1000px;
        
        margin-left: 230px;
        margin-top: 200px;
    
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 98px;
        /* line-height: 42px; */
        text-align: center;
    
        color: #000000;
    }
    
    .contentcgumobile{
    
        width: 1001px;
        height: 1350px;
        margin-left: 224px;
        margin-top: 200px;
    
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 70px;
        text-align: justify;
        color: #000000;
    }
    
    .titremobile{
        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        
    
        color: #2B63AF;
    }
    
    .societemobile{
        font-family: Raleway;
        font-style: normal;
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
      
    
        color: #FF0404;
    }
}


